@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 111px;
    left: 0px;
    top: 0px;
    align-items: center;
    justify-content: center;
    background: #C0C0C0;
}

.inner_header {
    /* width: 1000px;
    height: 100%; */
    display: block;
    margin: 9px auto;
    background-color: #4F4634;
    /* position: center; */
    min-width: auto + 20px;
    width: 25%;
    height: 94px;
    /* left: 513px;
    top: 8px; */
    background: #4F4634;
    border-radius: 25px;
}

.logo_container {
    height: 100%;
    display: flex;
    justify-content: center;
    min-width: auto + 20px;
    /* width: 50%; */

}

h1 {
    /* color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px; */




    font-family: Bangers;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 85px;
    display: flex;
    align-items: center;
    /* text-align: center; */

    color: #FF0000;

}

#S {
    color: white;
}



body {
    background-color: #1E1E1E;
    display: block;

}

.boxed {
    border: 5px solid #4F4634;
    justify-content: center;
    position: absolute;
    width: 800px;
    height: 391px;
    left: 300px;
    top: 286px;
    background-color: #4F4634;

}

#searchBar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-collapse: collapse;

}

#search {
    /* position: absolute; */
    /* display: flex; */
    justify-content: center;
    width: 430px;
    height: 38px;
    border-radius: 25px 0px 0px 25px;
    border: 0 solid black;
    /* margin-top: 180px; */
    /* border-collapse: collapse; */
}

#submitBtn {
    /* display: flex; */
    /* justify-content: center; */
    /* border-collapse: collapse; */
    justify-content: center;
    background-color: white;
    min-height: 38px;
    min-width: 60px;
    /* margin-top: -2px; */
    padding-right: 4px;
    /* border-radius: 100%; */
    /* margin-top: 5px; */
    border: 0 solid black;
    border-radius: 0px 25px 25px 0px;
    /* margin-left: 15px; */
}

#parent-div {
    display: flex;
    width: 86%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 4%;
    padding-left: 4%;
    

}

.search-results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: auto;
    width: auto; */
    width: 20%;
    /* height: 30%; */
    height: auto;
    margin-left: 3%;
    margin-right: 3;
    background-color: #4f4634;
    /* margin-left: auto;
    margin-right: auto; */
    /* padding: 30px 70px; */
    margin-top: 6%;
    border-radius: 5px;
    /* text-align: center; */
    /* flex: 0 0 33.333333%; */
}

.title-sources-rating-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    /* padding-right:1%; */
    background-color: #c0c0c0;
    /* height: auto;
    width: auto; */
    width: 95%;
    /* height: auto; */
    border-radius: 0px 0px 5px 5px;
    padding: 2px 5px;
}

#movies-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sources-list {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

/* .divs-in-search-results {
    margin: 5%;
} */

.movie-title {
    /* position: absolute; */
    /* margin-bottom: 30px; */
    /* text-align: center; */
    font-family: 'Lora', serif;
    font-family: 'Oswald', sans-serif;
    font-size: medium;
    
    /* left: 30%; */
}

img {
    display: flex;
    
    width: 97%;
    height: 97%;
    padding: 1.5%;
    /* padding: 12% 5% 10% 5% ; */
    /* border: white solid 1px; */
    


}


.source-logo, .source-link {
    border-radius: 10%;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    

}

.source-logo {
       
    /* padding: 0% 20px;  */
    border: 1px solid black;
}

.material-symbols-outlined:hover{
    cursor: pointer
}


/* #box-sources { */
    /* position: absolute; */
    /* bottom: 60% */
/* } */

/* img {
    padding: 10px;
} */